/* Responsive styles */
@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #004480;
    padding: 10px;
  }

  .search-form {
    margin-top: 10px;
    width: 100%;
  }

  .all-news-button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}