
@media (max-width:991px) {
   .social{
    width: 16px !important;
    height: 20px !important;
    margin-left: 2px;
   
  }
   .tiktok{
    font-size: 14px !important;
    
  }
   .fb{
    font-size: 14px !important;
 
  }.youtube{
     font-size: 14px !important;
   
  }
   .twitter{
    font-size: 14px !important;
   
  }
   .linkedin{
    font-size: 14px !important;
   
  }
}
@media (max-width: 768px) {

  .social-responsive{
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  }
  .social{
    width: 17px !important;
    height: 20px !important;
   
    
   
  }
  .tiktok{
    font-size: 10px !important;
    color:red;
  }
  .youtube{
    font-size: 10px !important;
  }
 .languageBtn{
 margin:5px;
 font-size:12px;
 height: 28px;

 }
  .sliderthum {
    margin-top: 20px; 
 

  }
   .col-five {
        width: 100%;
    }

}
@media (max-width: 576px) {
  .thumbnail-img {
    margin-top: -80px;
  }
  .spaceForSmall{
    margin-top:10px;
  }
  .social-responsive{
    display: hidden;
  }
}

